#exam-info {
    position: absolute;
    left: 20px;
}

#exam-score {
    position:absolute;
    right:50px;
}
#question-content {
    /*color:gray;*/
}
#question-type {
    font-size:16px;
}
.exam-body {
    height:480px;
    width:100%;
}

.exam-left-list {
    height: 100%;
}

.exam-right-body {
    height: 100%;
}

.exam-question {
    position: relative;
    margin-top: 2px;
    height: 50%;
    /*background-color: cadetblue;*/
}
.exam-select {
    position: relative;
    margin-top: 2px;
    height:40%;
    /*background-color: lightpink;*/
    padding-left:5px;
}
.select-list-item {
    /*position: relative;*/
    padding-top:3px;
    padding-bottom:3px;
    font-size: 14px;
    font-weight: 300;
}
.exam-function {
    position: relative;
    margin-top: 2px;
    height: 10%;
    text-align:center;
}

.question-list-item {
    width: 30px;
    height: 25px;
    border: 1px gray solid;
    border-radius: 2px;
    text-align: center;
}


.undo {
    background-color: rgb(230, 192, 100);
}
.doselected {
    background-color: rgb(255, 255, 0);
}
.done {
    background-color: #3CB371;
    color: white;
}
.do-error {
    background-color: #FF6347;
    color: white;
}

/*改css*/
.my-col{
    margin:0px;
    padding:1px;
    text-align:center;
}
ul {
    list-style: none;
}

.my-panel-default {
    height:100%;
    border:#ddd 1px solid;
    padding:0;
    margin-top:5px;
    border-radius:4px;
}

    .my-panel-default > .my-panel-heading {
        padding: 5px 0;
        font-size: 14px;
        font-weight: 400;
        border-color: #ddd;
        padding-left:5px;
    }
    .my-panel-default > .my-panel-body {
        border-top-color: #ddd;
        padding-left:5px;
        font-weight:bold;
    }


.my-panel-default > .my-panel-heading .my-badge {
    color: #f5f5f5;
    background-color: #333;
}

.my-panel-default > .my-panel-footer + .my-panel-collapse > .my-panel-body {
    border-bottom-color: #ddd;
    position:absolute;
    bottom:5px;
}