<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/Site.css" />
    <include path="~/Content/Mycss.css"/>
    <include path="~/Content/bootstrap-datetimepicker.min.css"/>
    <include path="~/Content/bootstrap-select.min.css"/>
    <include path="~/Content/bootstrap-table.min.css"/>
  </styleBundle>
</bundles>